<h1>Details of the restaurant:</h1>
<div class="ordered">
  <h3> <%= @restaurants.name %> </h3>
  <p>Address: <%= @restaurants.address %> </p>
  <p>Category: <%= @restaurants.category %> </p>
  <p>Phone number: <%= @restaurants.phone_number %> </p>
</div>

<div class="review-ordered">
  <% @restaurants.reviews.each do |rev| %>
  <div class="tasks-ordered">
    <p> <span style="font-weight: bold;">Rate of <%=rev.rating%> :</span> <%= rev.content %></p>
  </div>
  <% end %>
</div>
<p>
  <%= link_to "Back to all restaurants", restaurants_path %>
  <br>
  <%= link_to "Destroy \"#{@restaurants.name}\"", restaurant_path(@restaurants), method: :delete, data: { confirm: "Are you sure?"} %>
  <br>
  <%= link_to "Edit the restaurant", edit_restaurant_path(@restaurants) %>
  <br>
  <%= link_to "Add a review", new_restaurant_review_path(@restaurants) %>
</p>
